#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr; */
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    background-color: #ccc;
}

perspective-viewer {
    overflow: hidden;
}

perspective-viewer.medal-colors {
    --d3fc-series-1: #FFD700;
    --d3fc-series-2: #C0C0C0;
    --d3fc-series-3: #cd7f32;
}
